* {
	margin: 0;
	padding: 0;
}

@media only screen and (min-width: 0px) {
	html { font-size: 8px; }

	nav, main, footer {
		padding-left: 5rem;
		padding-right: 5rem;
	}

	nav .right li {
		margin-left: 1rem;
	}
}

@media only screen and (min-width: 350px) {
	html { font-size: 10px; }

	nav, main, footer {
		padding-left: 3rem;
		padding-right: 3rem;
	}
}

@media only screen and (min-width: 600px) {
	html { font-size: 12px; }
}

@media only screen and (min-width: 600px) {
	nav, main, footer {
		padding-left: 10rem;
		padding-right: 10rem;
	}

	nav .right li {
		margin-left: 3rem;
	}
}

@media only screen and (min-width: 800px) {
	html { font-size: 14px; }

	nav .right li {
		margin-left: 3rem;
	}
}

@media only screen and (min-width: 900px) {
	html { font-size: 16px; }

	nav .right li {
		margin-left: 4.5rem;
	}
}

/* global styles */

html, body {
	width: 100%;
	height: 100%;
}

body {
	font-family: "Open Sans";
}

a {
	color: inherit;
}

a:link {
  text-decoration: underline;
}

a:visited {
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

h1 {
	font-size: 3rem;
	font-weight: 800;
	font-family: "Poppins";
}

h2 {
	font-size: 1.5rem;
	font-family: "Poppins";
}

p, ul {
	font-size: 1.4rem;
	font-weight: 700;

	line-height: 2rem;
	letter-spacing: -1px;
}

p {
	margin-top: 2rem;
}

/* nav */

nav {
	background: white;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

nav .left {
	//width: 50%;
	display: inline-block;
}

nav ul {
	list-style-type: none;
}

nav .brand img {
	width: 10rem;
}

nav .right {
	float: right;
	display: inline-block;
}

nav .right ul {

}

nav .right li {
	display: inline-block;

	font-size: 1.3rem;
	margin-top: 1rem;

	border-top: 0.5rem solid black;
	line-height: 1.2rem;

	transition: border 0.1s;

	font-weight: 700;

	letter-spacing: -1px;
}

nav .right li:hover {
	border: none;
}

nav a {
	text-decoration: none !important;
}

/* main */

main {
	color: #fff;
	height: 100%;
	box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5);

	padding-top: 5rem;
}

main h2 {
	margin-bottom: 10rem;
}

main .content {
	width: 50rem;
	max-width: calc(100% - 5rem)
}

/* footer */

footer {
	padding-top: 5rem;
	padding-bottom: 5rem;
}
