<!DOCTYPE html>
<head>

	<title>ET AL</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Poppins:100,300,400,500,700,800,900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="assets/style.css">

</head>
<body>

	<nav>
		<ul class="left">
			<li class="brand"><img src="images/logo.png" alt="ET AL"></li>
		</ul>

		<ul class="right">
			<li>EXHIBITIONS</li>
			<li>ABOUT</li>
			<li>SHOP</li>
		</ul>
	</nav>

	<main>
		{{ content }}
	</main>

</body>
