<!DOCTYPE html>
<head>

	<title>ET AL</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Poppins:100,300,400,500,700,800,900&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="assets/raster.grid.css">
	<link rel="stylesheet" href="assets/style.css">

	<style>
	main {
		background: linear-gradient(rgba(0, 0, 0, {{page.background-darkening}}), rgba(0, 0, 0, {{page.background-darkening}})), url("images/{{page.background}}");
		background-repeat: no-repeat;
		background-size: cover;
	}
	</style>

</head>
<body>

	<nav>
		<ul class="left">
			<li class="brand"><a href="./"><img src="images/logo.png" alt="ET AL"></a></li>
		</ul>

		<ul class="right">
		{% for entry in site.nav %}
			<li><a href="{{entry.url}}">{{entry.name}}</a></li>
		{% endfor %}
		</ul>
	</nav>

	<main>
		<div class="content">
			{{ content }}
		</div>
	</main>

	<footer>
		<grid columns=12>
			<c span=5 span-s=12>
				<p>ET AL is an open submission, virtual gallery space designed to exhibit new artists and new mediums in an online format without the restrictions of the physical world.</p>

				<p>We believe that work should be exhibited based on quality alone, not background, cost or reputation.</p>
			</c>

			<c span=2 span-s=0></c>

			<c span=5 span-s=12>
				<p>Our gallery is open for submissions.</p>
			</c>
		</grid>
	</footer>

</body>
